@inject IJSRuntime JS;

<div @ref="_reactElement" @attributes=AllOtherAttributes></div>

@code {
    private ElementReference _reactElement;

    [Parameter]
    public ReactComponent? Component {  get;  set; }

    [Parameter]
    public object? Props { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AllOtherAttributes { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) await JS.InvokeVoidAsync("renderReact", Component.ToString(), Props, _reactElement);
    }

}
